* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Flag layout */

.flag {
  background-color: gray;
  width: 600px;
  height: 600px;
  margin: 2em auto;
  border: 2px solid black;
  position: relative;
}

/* France */

.france-color-1 {
  background-color: blue;
  width: 200px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.france-color-2 {
  background-color: white;
  width: 200px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 200px;
}

.france-color-3 {
  background-color: red;
  width: 200px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

/* Germany */

.germany-color-1 {
  background-color: black;
  width: 100%;
  height: 200px;
  position: absolute;
}

.germany-color-2 {
  background-color: red;
  width: 100%;
  height: 200px;
  position: absolute;
  top: 200px;
}

.germany-color-3 {
  background-color: gold;
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: 0;
}

/* Madagascar */

.madagascar-color-1 {
  background-color: white;
  width: 200px;
  height: 100%;
  position: absolute;
}

.madagascar-color-2 {
  background-color: red;
  width: 395px;
  height: 300px;
  position: absolute;
  top: 0;
  right: 0;
}

.madagascar-color-3 {
  background-color: green;
  width: 395px;
  height: 300px;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Switzerland */

.flag-switzerland {
  background-color: red;
  width: 600px;
  height: 600px;
  margin: 2em auto;
  border: 2px solid black;
  position: relative;
}

.switzerland-color-1 {
  background-color: white;
  width: 80%;
  height: 140px;
  position: absolute;
  top: 240px;
  left: 60px;
}

.switzerland-color-2 {
  background-color: white;
  width: 140px;
  height: 80%;
  position: absolute;
  bottom: 50px;
  right: 230px;
}

/* Sweden */

.flag-sweden {
  background-color: blue;
  width: 600px;
  height: 600px;
  margin: 2em auto;
  border: 2px solid black;
  position: relative;
}

.sweden-color-1 {
  background-color: gold;
  width: 100%;
  height: 120px;
  position: absolute;
  top: 240px;
}

.sweden-color-2 {
  background-color: gold;
  width: 120px;
  height: 100%;
  position: absolute;
  right: 300px;
}

/* Gambia */

.flag-gambia {
  background-color: white;
  width: 600px;
  height: 600px;
  margin: 2em auto;
  border: 2px solid black;
  position: relative;
}

.gambia-color-1 {
  background-color: red;
  width: 100%;
  height: 180px;
  position: absolute;
}

.gambia-color-2 {
  background-color: blue;
  width: 100%;
  height: 190px;
  position: absolute;
  top: 200px;
}

.gambia-color-3 {
  background-color: green;
  width: 100%;
  height: 180px;
  position: absolute;
  bottom: 0;
}

/* Tonga */

.flag-tonga {
  background-color: red;
  width: 600px;
  height: 600px;
  margin: 2em auto;
  border: 2px solid black;
  position: relative;
}

.tonga-color-1 {
  background-color: white;
  width: 50%;
  height: 300px;
  position: absolute;
}

.tonga-color-2 {
  background-color: red;
  width: 35%;
  height: 80px;
  position: absolute;
  top: 100px;
  left: 40px;
}

.tonga-color-3 {
  background-color: red;
  width: 80px;
  height: 35%;
  position: absolute;
  top: 40px;
  left: 100px;
}

/* Japan */

.flag-japan {
  background-color: white;
  width: 600px;
  height: 600px;
  margin: 2em auto;
  border: 2px solid black;
  position: relative;
}

.japan-color-1 {
  background-color: red;
  position: absolute;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  top: 150px;
  left: 150px;
}

/* Greece */
.flag-greece {
  background-color: blue;
  width: 600px;
  height: 450px;
  margin: 2em auto;
  border: 2px solid black;
  position: relative;
}

.greece-color-1 {
  background-color: blue;
  width: 50%;
  height: 250px;
  position: absolute;
}

.greece-color-2 {
  background-color: white;
  width: 50%;
  height: 50px;
  position: absolute;
  top: 100px;
  left: 0;
}

.greece-color-3 {
  background-color: white;
  width: 50px;
  height: 58%;
  position: absolute;
  top: 0;
  left: 120px;
}

.greece-color-4 {
  background-color: white;
  width: 50%;
  height: 50px;
  position: absolute;
  right: 0;
  top: 50px;
}

.greece-color-5 {
  background-color: white;
  width: 50%;
  height: 50px;
  position: absolute;
  right: 0;
  top: 150px;
}

.greece-color-6 {
  background-color: white;
  width: 100%;
  height: 50px;
  position: absolute;
  right: 0;
  top: 250px;
}

.greece-color-7 {
  background-color: white;
  width: 100%;
  height: 50px;
  position: absolute;
  right: 0;
  top: 350px;
}

.greece-color-8 {
  background-color: white;
  width: 100%;
  height: 50px;
  position: absolute;
  right: 0;
  top: 450px;
}

/* Niger */
.flag-niger {
  background-color: white;
  width: 600px;
  height: 600px;
  margin: 2em auto;
  border: 2px solid black;
  position: relative;
}

.niger-color-1 {
  background-color: orange;
  width: 100%;
  height: 200px;
  position: absolute;
}

.niger-color-2 {
  background-color: orange;
  position: absolute;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  top: 205px;
  left: 200px;
}

.niger-color-3 {
  background-color: green;
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: 0;
}
